.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-content {
  color: var(--gold);
}

.loader-text {
  margin-top: 20px;
  color: var(--dark-gray);
  font-weight: 500;
}